html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #282c34;
}

.App, .choose-exp {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.App {
  text-align: center;
}

.choose-exp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .choose-exp {
  padding: 125px 40px 40px;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.choose-exp .title {
  font-variant: small-caps;
  font-size: 20px;
  font-weight: 500;
  display: block;
  width: 440px;
  text-align: left;
  opacity: 0.5;
}

.heading {
  position: absolute;
  top: 15px;
  transform-origin: center top;
  width: calc(100% - 80px);
  display: flex;
  justify-content: center;
}

.totals, .legend {
  position: absolute;
  left: 0;
  top: -5px;
  font-size: 16px;
  font-weight: 600;
  font-variant: small-caps;
  transition: opacity 0.1s;
}

.legend {
  top: 20px;
}

.legend .key {
  color: #0EBCF3;
}

.legend span {
  cursor: alias;
}

.legend .bar, .legend .desc {
  opacity: 0.5;
}

.legend .lower {
  font-variant: none;
}

.totals:hover {
  opacity: 1;
}

.totals span {
  opacity: 0.5;
  cursor: crosshair;
  transition: opacity 0.1s;
}

.totals span:hover {
  opacity: 1;
}

.totals span.bar:hover {
  opacity: 0.5;
}

.totals .total-a {
  color: pink;
  margin-left: 10px;
}

.totals .total-b {
  color: orange;
}

.total-none {
  color: #0EBCF3;
  text-decoration: line-through;
}

.title {
  display: block;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0.02em;
  opacity: 0.9;
}

.subtitle {
  font-size: 16px;
  opacity: 0.6;
}

hr {
  margin-top: 60px;
  margin-bottom: 60px;
}

.exp-image-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.exp-image {
  display: block;
  height: 100%;
  object-fit: cover;
  border: 4px solid transparent;
  opacity: 1;
  max-width: calc((100% / 2) - 5px);
  width: calc((100% / 2) - 5px);
  vertical-align: middle;
  transition: border-color 0.2s ease-in-out, opacity 0.1s;
}

.exp-image.disabled {
  opacity: 0.4;
}

.exp-image:hover, .exp-image:focus, .exp-image:active, .exp-image.selected {
  cursor: pointer;
  outline: none;
  border-color: rgba(255, 255, 255, 0.3);
}

.a-img:focus, .a-img:active {
  border-color: rgba(255, 255, 255, 0.3);
}

.b-img:focus, .b-img:active {
  border-color: rgba(255, 255, 255, 0.3);
}

.exp-image.selected {
  border-color: cyan;
}

.exp-image.a_selected {
  border-color: pink;
}

.exp-image.b_selected {
  border-color: orange;
}

.exp-image:first-child {
  margin-right: 10px;
}

.exp-image.none {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
}

.exp-image.none span {
  align-self: center;
}

.App-link {
  color: #61dafb;
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 12px 14px;
  background-color: white;
  color: #282c34;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn.done {
  opacity: 0.7;
  margin-bottom: 30px;
  padding: 12px 22px 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  min-width: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 49px;
}

.btn.done:hover, .btn.done:focus, .btn.done:active {
  opacity: 1;
  outline: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.08);
}

.btn.logout, .btn.choose {
  padding: 0;
  background-color: transparent;
  color: white;
  opacity: 0.6;
  border: 0;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
}

.btn.choose, .btn.logout {
  margin-right: 40px;
}

.btn.logout:hover, .btn.choose:hover {
  color: #0EBCF3;
  transition-duration: 0.2s;
  opacity: 1;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0 -5px 35px rgba(255,255,255,0.3);
}

.choose-exp .btn.done {
  margin-bottom: 40px;
}

.arrow-btn {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #0EBCF3;
  color: #0EBCF3;
  display: block;
  filter: brightness(0.99);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7em !important;
  margin-bottom: 30px;
  width: 440px;
  padding: 1.5rem 0.8rem;
  position: relative;
  transition: all 0.2s;
  word-break: break-all;
}

.arrow-btn:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
  padding: 1.5rem 1rem;
  border: 2px solid transparent;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
  filter: brightness(0.95);
}

.arrow-btn:focus {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid transparent;
  box-shadow: none;
  cursor: pointer;
  filter: brightness(0.95);
  outline: none;
  padding: 1.5rem 1rem;
  transition: all 0.2s;
}

.arrow-btn .cta-btn {
  color: #0EBCF3;
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 0 0 0 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  width: 100%;
}

.arrow-btn .cta-btn span {
  font-weight: bold;
}

.arrow-btn .cta-btn .cta-icon {
  color: #0EBCF3;
  font-size: 40px;
  margin-left: 1em;
  opacity: 0;
  transition: all 0.2s;
  width: 0;
}

.arrow-btn .cta-btn .cta-icon {
  font-size: 32px;
  line-height: 1em;
  margin-left: -0.5em;
  opacity: 0;
  position: absolute;
  transition: all 0.2s;
}

.arrow-btn:hover .cta-btn {
  color: #0EBCF3;
  margin-left: -1em;
  text-shadow: 0 0 1px rgba(255,255,255,1);
  transition: all 0.2s;
}

.arrow-btn:hover .cta-btn .cta-icon {
  margin-left: 0;
  opacity: 1;
  transition: all 0.2s;
}

.cta-btn span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-btn span:first-child {
  padding-top: 4px;
}

.arrow-btn i {
  margin-top: 1px;
}

.firebaseui-idp-anonymous {
  background-color: midnightblue !important;
}

.spinner {
  opacity: 0.5;
  margin-top: 5px;
}

.hide-large {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .hide-large {
    display: initial;
  }

  .App-header {
    padding-top: 145px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .heading {
    top: 10px;
    width: calc(100% - 10px);
  }

  .heading .title {
    margin-top: 30px;
  }

  /*.mobile-nav {*/
  /*  position: absolute;*/
  /*  top: 0;*/
  /*  left: -50vw;*/
  /*  height: 100vh;*/
  /*  width: 50vw;*/
  /*  overflow: scroll;*/
  /*  background-color: #282c34;*/
  /*}*/
  .mobile-nav {
    background-color: #282c34;
    position: fixed;
    width: 0;
    height: 140px;
    font-size: 1.5em;
    transform: translateX(100vw);
    z-index: 999;
    transition: width 0.4s, height 0.4s, transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    justify-content: center;
    overflow: hidden;
  }

  .menu {
    height: 100%;
    overflow: hidden;
    font-size: 0.75em;
  }

  .menu-btns {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .mobile-nav.open {
    width: 100vw;
    transform: translateX(0);
    transition-delay: 0s;
  }

  .mobile-nav-trigger {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .show-stats-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    text-align: center;
    max-width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    padding: 0;
    margin: 0;
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0 -5px 35px rgba(255, 255, 255, 0.3);
  }

  .show-stats-btn.close {
    z-index: 1200;
  }

  .show-stats-btn:hover, .show-stats-btn:active, .show-stats-btn:focus {
    color: #0EBCF3;
  }

  .show-stats-btn i {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .show-stats-btn:hover i {
    color: #0EBCF3;
  }

  .mobile-nav .btn {
    margin: 0;
    max-width: 300px;
  }

  .mobile-nav .btn:first-of-type {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .show-stats-btn:hover {
    opacity: 0.6;
  }

  .totals {
    right: 10px;
    top: 0;
    text-align: right;
    /*height: 0;*/
    overflow: hidden;
    /*opacity: 0;*/
    /*transition: opacity 0.1s;*/
    z-index: 1100;
    font-size: 14px;
    pointer-events: none;
  }

  /*.totals.show {*/
  /*  height: initial;*/
  /*  z-index: 1000;*/
  /*  opacity: 1;*/
  /*  transition-delay: 0.4s;*/
  /*  pointer-events: none;*/
  /*}*/

  .arrow-btn {
    width: 100%;
    min-width: 100%;
  }

  .choose-exp {
    width: 100vw;
    min-height: 100vh;
  }

  .choose-exp .title {
    width: 90vw;
  }
}
