.boundary-exp-wrapper {
    position: relative;
    margin: 0 auto;
}

.boundary-exp-wrapper .img-bg {
    position: absolute;
    top: 0;
    left: 0;
}

.boundary-exp-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}
